:root {
  --color-white: hsl(0, 0%, 100%);
  --color-semi-primary: #576cbc;
  --color-light: #a5d7e8;
  --color-primary: #19376d;
  --color-dark: #0b2447;
}

.akbar-pagination {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.akbar-pagination .akbar-page-item {
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.previous-page,
.next-page {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--color-semi-primary);
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.previous-page:hover {
  background-color: var(--color-primary);
  transform: translateX(-5px);
}

.next-page:hover {
  background-color: var(--color-primary);
  transform: translateX(5px);
}

.current-page {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--color-white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.current-page a {
  color: var(--color-primary);
}

.pagination-active {
  background: var(--color-semi-primary);
}

.pagination-active a {
  color: var(--color-white);
}

.disable {
  background: var(--color-white);
}

.disable a {
  color: var(--color-dark);
}

@media screen and (max-width: 480px) {
  .akbar-pagination {
    display: flex;
    padding: 30px;
  }
}
